# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments

.envrc
.venv

venv/

env.bak/
venv.bak/
/.quarto/
_site/

**/*.quarto_ipynb
